/* global styles - funciona */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-geist-sans), sans-serif;
    background-color: #f0f0f0;
    color: #f80404;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3 {
    font-family: var(--font-geist-mono), monospace;
    color: blue;
}

.layout {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #333;
    color: white;
    padding: 15px;
    text-align: center;
}

main {
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
}
